@use '../globals' as g;
@use '../utils' as u;

.about {
  margin-block: u.rem(100);
  @include g.width-center(u.rem(1220), u.rem(64));

  display: grid;
  align-items: center;
  justify-items: center;

  @include u.breakpoint(xlarge) {
    grid-template-columns: repeat(2, 1fr);
    justify-items: flex-end;
  }

  &__text-wrapper {
    max-width: u.rem(573);
    @include u.breakpoint(xlarge) {
      grid-column: 1/2;
      grid-row: 1/-1;
      justify-self: flex-start;
      max-width: u.rem(445);
    }
  }

  &__title,
  &__text {
    text-align: center;
    @include u.breakpoint(xlarge) {
      text-align: left;
    }
  }

  &__title {
    margin-block: u.rem(48);

    @include u.breakpoint(medium) {
      margin-bottom: u.rem(26);
    }
  }

  &__span {
    color: var(--raw-sienna);
  }

  &__text {
    color: var(--border-grey);
  }
}
