@use '../utils' as *;

.button {
  display: inline-block;
  padding-block: rem(11.5);
  text-transform: uppercase;
  font-weight: 700;
  font-size: rem(13);
  text-decoration: none;
  text-align: center;
  border: 0;
  min-width: rem(160);
  cursor: pointer;
  transition: 0.25s;
  &:active {
    scale: 0.95;
  }
}

.button-1 {
  @extend .button;
  background-color: var(--raw-sienna);
  color: var(--white);
  &:hover {
    background-color: var(--light-salmon);
  }
}
.button-2 {
  @extend .button;
  outline: rem(2) solid var(--black);
  background-color: transparent;
  color: inherit;
  &:hover {
    background-color: var(--black);
    color: var(--white);
  }
}

.button-3 {
  @extend .button;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  &:hover {
    color: var(--raw-sienna);
  }
  &__icon {
    display: inline-block;
    margin-left: rem(16);
    vertical-align: middle;
  }
}

.button-inactive {
  @extend .button;
  background-color: var(--light-salmon);
  color: var(--white);
  &:active {
    scale: unset;
  }
}
