@use '../utils/' as u;
@use '../globals/' as g;

.footer {
  background-color: var(--smoky-black);
  padding-bottom: u.rem(32);
  width: 100%;

  @include u.breakpoint(medium) {
    padding-bottom: u.rem(48);
  }

  &__wrapper {
    @include g.width-center(u.rem(1220), u.rem(32));
    display: grid;
    justify-items: center;
    text-align: center;
    gap: u.rem(48);

    @include u.breakpoint(medium) {
      grid-template-columns: repeat(2, 1fr);
      justify-items: flex-start;
      @include g.width-center(u.rem(1220), u.rem(64));
      text-align: left;
    }
  }

  &__cosmetic {
    background-color: var(--raw-sienna);
    width: u.rem(100);
    height: u.rem(4);
    @include u.breakpoint(medium) {
      grid-column: 1/-1;
      grid-row: 1/2;
    }
  }

  &__logo {
    @include u.breakpoint(medium) {
      grid-column: 1/-1;
      grid-row: 2/3;
    }
  }

  &__list {
    display: grid;
    gap: u.rem(16);
    @include u.breakpoint(medium) {
      grid-auto-flow: column;
      grid-column: 1/-1;
      grid-row: 3/4;
    }
    @include u.breakpoint(xlarge) {
      grid-column: 2/-1;
      grid-row: 2/3;
      justify-self: flex-end;
    }
  }

  &__info,
  &__copyright {
    color: var(--footer-text);
  }

  &__info {
    @include u.breakpoint(medium) {
      grid-column: 1/-1;
    }
    @include u.breakpoint(xlarge) {
      grid-column: 1/2;
      grid-row: 3/4;
    }
  }

  &__copyright {
    @include u.breakpoint(medium) {
      grid-row: 5/6;
    }
  }

  &__socials {
    display: flex;
    gap: u.rem(16);

    @include u.breakpoint(medium) {
      justify-self: flex-end;
      grid-row: 5/6;
    }
    @include u.breakpoint(xlarge) {
      grid-column: 2/3;
      grid-row: 3/4;
      align-self: flex-end;
    }
  }

  &__links {
    &:hover {
      cursor: pointer;

      //https://codepen.io/sosuke/pen/Pjoqqp
      /* change the color of img */
      filter: invert(52%) sepia(37%) saturate(754%) hue-rotate(337deg)
        brightness(99%) contrast(89%);
    }
  }
}
