@use '../utils' as *;
@use '../globals' as *;

.menuList {
  display: grid;
  gap: rem(64);
  margin-top: rem(90);

  @include width-center(rem(1220), rem(64));

  @include breakpoint(medium) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: rem(24);
  }

  &__link {
    position: relative;
    padding-top: rem(100);
    display: grid;
    justify-items: center;
    background-color: var(--grey);
    border-radius: var(--border-radius);
  }

  &__title {
    color: var(--black);
    font-weight: 700;
  }

  &__thumbnail {
    position: absolute;
    max-height: rem(150);
    bottom: rem(70);
  }
}
