@use '../utils' as *;

.navbar {
  background-color: var(--smoky-black);
  position: sticky;
  top: 0;
  z-index: 10;

  display: grid;
  grid-template-columns: auto 1fr auto;
  place-items: center;
  gap: rem(32);

  padding-inline: rem(24);
  padding-block: rem(32);

  &__hamburger,
  &__cart {
    cursor: pointer;
  }

  &__hamburger {
    @include breakpoint(xlarge) {
      display: none;
    }
  }

  &__logo {
    @include breakpoint(large) {
      justify-self: flex-start;
    }
  }

  &__linksList {
    display: none;
    @include breakpoint(xlarge) {
      display: flex;
      gap: rem(32);
    }
  }

  &__cart {
    @include breakpoint(large) {
      justify-self: flex-end;
    }
  }
}
