@use '../utils' as *;
@use '../globals/' as *;

.menuWrapper {
  position: fixed;
  z-index: 50;
  height: 100vh;
  overflow: auto;
  @include width-center(rem(1220), $margin: false);

  @include breakpoint(medium) {
    height: fit-content;
  }
}

.menu {
  background-color: var(--white);
  padding-bottom: rem(32);
  padding-top: rem(70);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);

  @include breakpoint(xlarge) {
    display: none;
  }
}
