@use '../utils' as *;

.newProduct {
  width: min(100%, rem(1440));
  margin-inline: auto;
  position: relative;
  top: rem(-90);
  // z-index: -10;
  display: grid;
  justify-items: center;
  align-items: center;

  @include breakpoint(xlarge) {
    justify-items: flex-start;
  }

  &__imgWrapper {
    // width: 100%;
  }

  &__textWrapper {
    // padding-inline: rem(32);
    position: absolute;
    width: min(100% - rem(50), rem(375));

    display: grid;
    gap: rem(24);
    // grid-template-columns: minmax(rem(328), rem(345));
    justify-items: center;

    @include breakpoint(medium) {
      padding-top: 0;
    }
    @include breakpoint(large) {
      justify-self: flex-start;
      text-align: left;
    }

    @include breakpoint(large) {
      justify-items: flex-start;
      text-align: left;
      padding-left: rem(100);
    }
  }

  &__overline {
    color: var(--normal-grey);
  }
  &__title {
    color: var(--grey);
  }

  &__description {
    color: var(--normal-grey);
  }
}
