@use '../utils' as *;

.amount {
  background-color: var(--grey);
  display: flex;
  justify-content: center;
  gap: rem(20);
  align-items: center;
  width: min(100%, rem(120));
  padding-block: rem(5);
  padding-inline: rem(10);
  &__increase,
  &__decrease {
    background-color: transparent;
    border: 0;
    color: var(--footer-grey);
    cursor: pointer;
    &:hover {
      color: var(--raw-sienna);
    }
  }
}
