@use '../utils' as *;
@use '../globals/' as *;

.checkout {
  &__input--error {
    background-color: red;
  }

  &__title {
    margin-bottom: rem(48);
  }

  &__form {
    display: grid;
    gap: rem(32);

    @include breakpoint(xlarge) {
      grid-template-columns: 2fr 1fr;
      align-items: flex-start;
    }
  }

  &__fieldset--inputs,
  &__fieldset--summary {
    background-color: var(--white);
    border-radius: var(--border-radius);
    padding-block: rem(35);
    padding-inline: rem(25);
    border: 0;
  }

  &__formControlsWrapper {
    display: grid;
    gap: rem(24);
    margin-bottom: rem(40);
  }

  &__formControls:not(&__formControls:has(input[type='radio'])) {
    display: grid;
    grid-template-columns: auto 1fr;
    // grid-template-rows: repeat(2, auto);
    align-items: center;

    label {
      grid-column: 1/2;
      cursor: pointer;
    }

    p {
      justify-self: end;
      grid-column: 2/-1;
      grid-row: 1/1;
    }

    input {
      cursor: pointer;

      grid-column: 1/-1;
      padding: rem(16);
      border-radius: var(--border-radius);
      border: 2px solid var(--normal-grey);
      caret-color: var(--raw-sienna);

      &:focus {
        outline-color: var(--raw-sienna);
      }

      // &:invalid[focused='true'] {
      //   border-color: red;
      // }
      // &:invalid[focused='true'] ~ p {
      //   display: block;
      // }
    }
  }

  &__formControls:has(input[type='radio']) {
    padding: rem(16);
    display: inline;
    border-radius: var(--border-radius);
    border: thin solid var(--normal-grey);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: rem(16);

    /* need fixing on focus within */
    &:focus-within {
      outline: 2px solid var(--raw-sienna);
    }

    label {
      cursor: pointer;
    }

    input {
      appearance: none;
      margin: 0;
      padding: 0;
      width: rem(20);
      border: 1px solid var(--normal-grey);
      border-radius: 50%;
      border-style: solid;
      aspect-ratio: 1;
      cursor: pointer;

      &:checked {
        background-color: var(--raw-sienna);
        background: radial-gradient(var(--raw-sienna) 40%, var(--white) 50%);
      }
    }
  }

  &__subtitle {
    margin-bottom: rem(28);
  }

  &__cashNotification {
    display: grid;
    justify-items: center;
    gap: rem(32);

    @include breakpoint(xlarge) {
      grid-template-columns: auto 1fr;
    }
  }
}
