@use '../utils' as *;
@use '../globals/' as *;

.checkout {
  &__title {
    margin-bottom: rem(48);
  }

  &__form {
    display: grid;
    gap: rem(32);

    @include breakpoint(xlarge) {
      grid-template-columns: 2fr 1fr;
      align-items: flex-start;
    }
  }

  &__fieldset--inputs,
  &__fieldset--summary {
    background-color: var(--white);
    border-radius: var(--border-radius);
    padding-block: rem(35);
    padding-inline: rem(25);
    border: 0;
  }

  &__formControlsWrapper {
    display: grid;
    gap: rem(24);
    margin-bottom: rem(40);
  }

  &__subtitle {
    margin-bottom: rem(28);
  }

  &__fieldset--inputs &__formControlsWrapper:nth-child(3) {
    @include breakpoint(medium) {
      grid-template-columns: 1fr 1fr;
      column-gap: rem(16);
    }
  }

  &__fieldset--inputs &__formControlsWrapper:nth-child(5) {
    @include breakpoint(medium) {
      grid-template-columns: 1fr 1fr;
      column-gap: rem(16);
    }
    div:nth-child(1) {
      @include breakpoint(medium) {
        grid-column: 1/-1;
      }
    }
  }

  &__fieldset--inputs > div:nth-child(7) {
    @include breakpoint(medium) {
      grid-template-columns: 1fr 1fr;
      column-gap: rem(16);
    }

    div:nth-child(2),
    div:nth-child(3) {
      @include breakpoint(medium) {
        grid-column: 2/-1;
      }
    }
  }

  &__payMethods {
    font-size: rem(12);
    font-weight: 700;
  }

  &__formControls:not(&__formControls:has(input[type='radio'])) {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;

    label {
      grid-column: 1/2;
      cursor: pointer;
    }

    p {
      justify-self: end;
      grid-column: 2/-1;
      grid-row: 1/1;
    }

    input {
      cursor: pointer;

      grid-column: 1/-1;
      padding: rem(16);
      border-radius: var(--border-radius);
      border: 2px solid var(--normal-grey);
      caret-color: var(--raw-sienna);

      &:focus {
        outline-color: var(--raw-sienna);
      }
    }
  }

  &__formControls:has(input[type='radio']) {
    padding: rem(16);
    display: inline;
    border-radius: var(--border-radius);
    border: thin solid var(--normal-grey);
    display: flex;
    align-items: center;
    gap: rem(16);

    label {
      cursor: pointer;
    }

    input {
      appearance: none;
      margin: 0;
      padding: 0;
      width: rem(20);
      border: 2px solid var(--normal-grey);
      border-radius: 50%;
      border-style: solid;
      aspect-ratio: 1;
      cursor: pointer;

      &:checked {
        background-color: var(--raw-sienna);
        background: radial-gradient(var(--raw-sienna) 40%, var(--white) 50%);
      }
    }
  }

  &__formControls:has(input[type='radio']:checked) {
    outline: 2px solid var(--raw-sienna);
  }

  &__cashNotification {
    display: grid;
    justify-items: center;
    gap: rem(32);
    padding-inline: rem(32);

    @include breakpoint(medium) {
      grid-template-columns: auto 1fr;
    }
  }

  &__input--error {
    border-color: red !important;
  }
  &__label--error {
    color: red;
  }
}
