@use '../utils/' as *;
@use '../globals/' as *;

.button {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: rem(20);
  width: min(100% - rem(45));
  max-width: rem(1220);

  a {
    color: var(--footer-text);
    text-transform: capitalize;
    text-decoration: none;
  }
}
