@use '../utils' as *;
@use '../globals' as *;

.menuList {
  display: grid;
  gap: rem(24);

  @include breakpoint(medium) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: rem(24);
  }

  &__link {
    position: relative;
    z-index: 1;
    display: grid;
    justify-items: center;
    border-radius: var(--border-radius);
  }

  &__bg {
    border-radius: var(--border-radius);
    position: absolute;
    background-color: var(--grey);
    width: 100%;
    height: 75%;
    bottom: 0;
    z-index: -1;
  }

  &__title {
    color: var(--black);
    font-weight: 700;
  }

  &__thumbnail {
    max-width: rem(150);
    transform: perspective(1px) translateZ(0);
    &:hover {
      animation-name: buzz;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: 1;
    }
  }
}

@keyframes buzz {
  10% {
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    transform: translateX(1px) rotate(0);
  }
  100% {
    transform: translateX(-1px) rotate(0);
  }
}
