@use '../utils/' as u;
@use '../globals/' as g;

.homepage {
  &__list {
    display: grid;
    gap: u.rem(24);
  }

  &__item {
    position: relative;
    border-radius: var(--border-radius);
    overflow: hidden;
    z-index: 0;
  }

  &__decoration {
    position: absolute;
    min-width: 600px;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    @include u.breakpoint(xlarge) {
      top: 80%;
      left: 25%;
    }
  }

  /* zx9 style */
  &__item:nth-child(1) {
    background-color: var(--raw-sienna);
    padding-inline: u.rem(16);
    padding-block: u.rem(64);
    display: grid;
    justify-items: center;
    gap: u.rem(32);
    text-align: center;
    overflow: hidden;

    @include u.breakpoint(xlarge) {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      text-align: left;
      gap: 0;
      padding-bottom: 0;
    }
  }

  &__item:nth-child(1) > picture {
    @include u.breakpoint(xlarge) {
      grid-row: 1/4;
    }
  }

  &__item:nth-child(1) > picture > img {
    max-width: u.rem(180);

    @include u.breakpoint(xlarge) {
      max-width: u.rem(400);
      justify-self: center;
      position: relative;
      bottom: u.rem(-10);
    }
  }

  &__item:nth-child(1) > &__title {
    color: var(--white);
    @include u.breakpoint(xlarge) {
      justify-self: flex-start;
      align-self: flex-end;
    }
  }

  &__item:nth-child(1) > &__description {
    color: var(--grey);
    @include g.width-center(u.rem(350), $margin: false);

    @include u.breakpoint(xlarge) {
      grid-column: 2/-1;
      width: 100%;
      padding-right: u.rem(250);
    }
  }

  &__item:nth-child(1) > &__button {
    background-color: var(--smoky-black);
    color: var(--white);
    text-decoration: none;
    &:hover {
      background-color: var(--border-grey);
      outline-color: var(--border-grey);
    }
    @include u.breakpoint(xlarge) {
      grid-column: 2/-1;
      justify-self: flex-start;
      align-self: flex-start;
    }
  }

  /* zx7 style */
  &__item:nth-child(2) > &__text-wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    margin-left: u.rem(20);

    display: grid;
    gap: u.rem(24);
    justify-items: left;

    @include u.breakpoint(medium) {
      margin-left: u.rem(48);
    }
  }

  /* yx1 style */
  &__item:nth-child(3) {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: u.rem(24);
    border-radius: 0;

    @include u.breakpoint(medium) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
    }
  }

  &__item:nth-child(3) > &__text-wrapper {
    background-color: var(--grey);
    border-radius: var(--border-radius);
    padding-inline: u.rem(20);
    display: grid;

    justify-items: left;
    align-content: center;
    gap: u.rem(24);

    @include u.breakpoint(medium) {
      padding-inline: u.rem(48);
    }
  }
}
