@use '../utils/' as *;
@use '../globals/' as *;

.product,
.features,
.gallery,
.alternatives,
.button {
  margin-bottom: rem(100);
  @include width-center(rem(1220), rem(48));

  @include breakpoint(medium) {
    @include width-center(rem(1220), rem(64));
  }
}

.button {
  margin-block: rem(16);
  a {
    color: var(--border-text);
    text-transform: capitalize;
    text-decoration: none;
  }
}

/* product */

.product {
  @include grid(rem(24));

  @include breakpoint(medium) {
    grid-template-columns: 40% 1fr;
    align-items: center;
    gap: rem(70);
  }

  @include breakpoint(xlarge) {
    gap: rem(125);
    grid-template-columns: 1fr 1fr;
  }

  &__textWrapper {
    @include grid(rem(24));
  }

  &__title {
    color: var(--border-text);
    max-width: rem(200);
    @include breakpoint(medium) {
      max-width: rem(300);
    }
  }

  &__price {
    font-weight: 700;
    font-size: rem(18);
  }

  &__wrapper-btn {
    display: flex;
    gap: rem(16);
  }
}

/* features */

.features {
  @include grid(rem(100));

  @include breakpoint(xlarge) {
    gap: rem(125);
    grid-template-columns: 2fr 1fr;
  }

  &__title {
    margin-bottom: rem(24);
    @include breakpoint(medium) {
      margin-bottom: rem(70);
    }
  }

  &__description {
    p:nth-child(1) {
      margin-bottom: rem(40);
    }
  }

  &__insidesWrapper {
    @include breakpoint(medium) {
      @include grid(rem(70));
      grid-template-columns: 1fr 1fr;
      align-content: baseline;
    }
    @include breakpoint(xlarge) {
      grid-template-columns: 1fr;
      gap: 0;
    }
  }

  &__list {
    @include grid($gap: false);
    @include breakpoint(medium) {
      gap: rem(14);
    }
  }

  &__item {
    display: flex;
    gap: rem(16);
  }

  &__quantity {
    color: var(--raw-sienna);
    font-weight: 700;
  }
}

.gallery {
  @include grid(rem(16));
  @include breakpoint(medium) {
    grid-template-columns: 40% 1fr;
  }

  picture:nth-child(3) {
    @include breakpoint(medium) {
      background-color: red;
      grid-column: 2/-1;
      grid-row: 1/3;
    }
  }
}

.alternatives {
  display: grid;

  &__title {
    text-align: center;
    @extend .features__title;
  }

  &__list {
    @extend .features__list;
    gap: rem(60);

    @include breakpoint(medium) {
      grid-auto-flow: column;
      gap: rem(16);
    }
    @include breakpoint(xlarge) {
      grid-auto-flow: column;
      gap: rem(24);
    }
  }

  &__item {
    @include grid(rem(24));
    justify-items: center;
  }
}
