@use '../utils/' as u;
@use '../globals/' as g;

.categories {
  &__list {
    display: grid;
    gap: u.rem(125);
  }

  &__item {
    display: grid;
    align-items: center;

    @include u.breakpoint(xlarge) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item:nth-child(even) {
    @include u.breakpoint(xlarge) {
      margin-left: 0;
    }

    picture {
      @include u.breakpoint(xlarge) {
        grid-column: 2/-1;
      }
    }
    div {
      @include u.breakpoint(xlarge) {
        grid-row: 1/2;
      }
    }
  }

  &__wrapper {
    display: grid;
    justify-items: center;
    text-align: center;

    gap: u.rem(32);
    margin-top: u.rem(32);
    @include g.width-center(u.rem(572), $margin: false);

    @include u.breakpoint(xlarge) {
      justify-items: flex-start;
      text-align: left;
      margin-left: u.rem(130);
      @include g.width-center(u.rem(445), $margin: false);
    }
  }

  &__title {
    width: min-content;
  }

  &__item:nth-child(even) > &__wrapper {
    @include u.breakpoint(xlarge) {
      margin-left: 0;
    }
  }
}
