@use '../utils/' as *;
@use '../globals/' as *;

.spinner {
  background-color: var(--light-grey);
  z-index: 100;
  height: calc(100vh - rem(90));
  min-height: 100%;
  display: grid;
  place-content: center;
}
