@use './mixins' as *;
@use '../utils/' as *;

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  flex-direction: column;
  min-height: 100vh;
  user-select: none;
}

.main {
  background-color: var(--light-grey);
  overflow: hidden;

  &__homePageWrapper,
  &__productsPageWrapper {
    @include width-center(rem(1220), rem(45));
    padding-top: rem(65);
    padding-bottom: rem(130);
  }

  &__productPageWrapper,
  &__checkoutPageWrapper {
    @include width-center(rem(1220), rem(45));
    padding-top: rem(32.5);
    padding-bottom: rem(130);
  }

  &__productPageWrapper,
  &__productsPageWrapper,
  &__homePageWrapper {
    display: grid;
    gap: rem(100);
  }
}
