:root {
  --raw-sienna: #d87d4a;
  --light-salmon: #fbaf85;
  --smoky-black: #1b1b1b;
  --black: #000000;
  --normal-grey: #cfcfcf;
  --border-grey: #3f3f3f;
  --grey: #f1f1f1;
  --light-grey: #fafafa;
  --white: #ffffff;
}
