:root {
  --raw-sienna: #da6f41;
  --light-salmon: #fbaf85;
  --smoky-black: #191919;
  --black: #000000;
  --normal-grey: #cfcfcf;
  --border-grey: #3f3f3f;
  --footer-text: grey;
  --grey: #f1f1f1;
  --light-grey: #fafafa;
  --white: #ffffff;
}
