@use '../utils' as *;

@mixin links($color, $font-size, $font-weight) {
  font-size: $font-size;
  color: $color;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: $font-weight;
  letter-spacing: rem(1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: rem(36);
  line-height: rem(43.2);
  letter-spacing: rem(2);
  @include breakpoint(medium) {
    font-size: rem(56);
    line-height: rem(67.2);
  }
}

h2 {
  font-size: rem(28);
  line-height: rem(33.6);
  letter-spacing: rem(1.5);
  @include breakpoint(medium) {
    font-size: rem(40);
    line-height: rem(48);
  }
}
h3 {
  font-size: rem(32);
  line-height: rem(36);
  letter-spacing: rem(1.15);
}
h4 {
  font-size: rem(28);
  line-height: rem(38);
  letter-spacing: rem(2);
}
h5 {
  font-size: rem(24);
  line-height: rem(33);
  letter-spacing: rem(1.7);
}
h6 {
  font-size: rem(18);
  line-height: rem(24);
  letter-spacing: rem(1.3);
}

.overline {
  font-size: rem(14);
  line-height: rem(19);
  letter-spacing: rem(10);
  font-weight: 400;
  color: var(--raw-sienna);
  text-transform: uppercase;
}

.subtitle {
  font-size: rem(13);
  line-height: rem(25);
  letter-spacing: rem(1);
  font-weight: 700;
  color: var(--raw-sienna);
}

body {
  font-family: $font;
  font-weight: 500;
  font-size: rem(15);
  line-height: rem(25);
}

.form {
  &__label {
    font-size: rem(12);
    font-weight: 700;
  }
  &__input {
    font-size: rem(14);
    font-weight: 700;
    &::placeholder {
      font-size: rem(14);
    }
  }
  &__warning {
    color: red;
    font-size: rem(12);
    font-weight: 700;
  }
}

.amount {
  &__number,
  &__increase,
  &__decrease {
    font-weight: 700;
    font-size: rem(13);
  }
}

.list {
  &__link > a {
    @include links(var(--white), rem(13), 500);

    &:hover {
      color: var(--raw-sienna);
    }
  }
}

.router-link {
  @include links(var(--black), rem(15), 700);
}
